version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    # --- ADICIONE ESTA LINHA ---
    working_dir: /var/www/html
    # ---------------------------
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql_nativo
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: meu_banco
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - ./docker/mysql-data:/var/lib/mysql
